body {
    margin: 0;

    padding-left: 0.5%;
    padding-right: 0.5%;
    position: relative;
    z-index: 1;
}

#gradient-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    --gradient-color-1: #c3e4ff;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #eae2ff;
    --gradient-color-4: #b9beff;
}

#boxOfPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative;
}
#header,
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 0;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    align-self: stretch;
}

#boxOfGame {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header,
#footer,
#boxOfGame {
    position: relative;
    z-index: 10;
    margin: 1%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#gamePart {
    height: 99%;
    width: 99%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.playerBox {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    margin: 1%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 4px solid rgba(255, 255, 255, 1);
}
input {
    text-align: center;
    padding: 1%;
    border-radius: 99999px;
    border: none;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
        4px 4px 10px rgba(0, 0, 0, 0.35);
    width: 40%;
}
input,
button {
    font-size: 1.5vw;
}
button {
    padding: 1%;
    border: none;
    border-radius: 99999px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
        4px 4px 10px rgba(0, 0, 0, 0.35);
    width: 30%;
}

button:hover:enabled {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 1),
        inset 4px 4px 10px rgba(0, 0, 0, 0.35);
}

.textForNumberEnter {
    text-align: center;
}

.numberGotten {
    font-size: 1.5vw;
}

.column {
    flex-direction: column;
}
.rolledSomeonesNumber {
    color: red;
    font-size: 2vw;
}
#header {
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 1);
    font-size: 50px;
    text-shadow: 6px 3px 0px rgba(229, 136, 245, 0.5);
}

#footer {
    font-family: monospace;
}

#gamePart,
input,
button,
.info {
    font-family: 'Poppins', sans-serif;
}

.info > button {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 1);
    font-size: 20px;
    color: black;
    position: absolute;
    z-index: 100;
    top: 90px;
    left: 2%;
    width: fit-content;
    box-shadow: none;
    border-radius: 5px;
    margin: 0;
}

.info > button:hover {
    box-shadow: none;
    color: rgb(48, 166, 170);
    font-size: 25px;
}
.infoBox {
    color: rgba(255, 255, 255, 1);
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    width: 40vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.infoBox > button,
.infoBox > button:hover {
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    color: rgb(177, 33, 33);
    font-size: 30px;
}
.infoBox > button:hover {
    color: rgb(254, 47, 47);
}
#infoTextHeader {
    font-size: 20px;
    color: rgb(229, 255, 32);
}
