body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(246, 243, 231);
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: relative;
    z-index: 1;
}
#boxOfPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
    position: relative;
    background-color: rgb(246, 243, 231);
}
#header,
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 0;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    align-self: stretch;
}

#boxOfGame {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header,
#footer,
#boxOfGame {
    position: relative;
    z-index: 10;
    background-color: rgb(246, 243, 231);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 1),
        10px 10px 20px rgba(0, 0, 0, 0.55);
    margin: 1%;
    border-radius: 20px;
}

#gamePart {
    height: 99%;
    width: 99%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.playerBox {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    margin: 1%;
    border-radius: 30px;
    background-color: rgb(234, 236, 236);
    box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 1),
        inset 10px 10px 20px rgba(0, 0, 0, 0.35);
}
input {
    text-align: center;
    padding: 1%;
    border-radius: 99999px;
    border: none;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
        4px 4px 10px rgba(0, 0, 0, 0.35);
    width: 40%;
}
input,
button {
    font-size: 1.5vw;
}
button {
    padding: 1%;
    border: none;
    border-radius: 99999px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
        4px 4px 10px rgba(0, 0, 0, 0.35);
    width: 30%;
}

button:hover:enabled {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 1),
        inset 4px 4px 10px rgba(0, 0, 0, 0.35);
}

.textForNumberEnter {
    text-align: center;
}

.numberGotten {
    font-size: 1.5vw;
}

.column {
    flex-direction: column;
}

.rolledSomeonesNumber {
    color: red;
    font-size: 2vw;
}
#header {
    font-family: 'Qwitcher Grypen', cursive;
    text-shadow: 1px 1px 5px white, 5px 5px 10px red, 10px 10px 10px blue,
        15px 15px 10px purple;
    font-size: 50px;
}

#footer {
    font-family: monospace;
}

#gamePart,
input,
button {
    font-family: 'Poppins', sans-serif;
}
